<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="AlbertMage\PageBuilder\Model\ParserPool">
        <arguments>
            <argument name="parserClassCollection" xsi:type="array">
                <item name="row" xsi:type="string">AlbertMage\PageBuilder\Model\Parser\Row</item>
                <item name="column" xsi:type="string">AlbertMage\PageBuilder\Model\Parser\Column</item>
                <item name="video" xsi:type="string">AlbertMage\PageBuilder\Model\Parser\Video</item>
            </argument>
        </arguments>
    </type>
    <type name="AlbertMage\PageBuilder\Model\Parser\Row">
        <arguments>
            <argument name="attributes" xsi:type="array">
                <item name="contained" xsi:type="array">
                    <item name="main" xsi:type="array">
                        <item name="data-content-type" xsi:type="string"></item>
                        <item name="1data-appearance" xsi:type="string"></item>
                    </item>
                    <item name="link" xsi:type="array">
                        <item name="href" xsi:type="string">link</item>
                    </item>
                    <item name="inner" xsi:type="array">
                        <item name="data-enable-parallax" xsi:type="string"></item>
                        <item name="data-parallax-speed" xsi:type="string"></item>
                        <item name="data-video-type" xsi:type="string"></item>
                        <item name="data-background-type" xsi:type="string"></item>
                        <item name="data-background-images" xsi:type="string"></item>
                        <item name="data-video-src" xsi:type="string"></item>
                        <item name="data-video-loop" xsi:type="string"></item>
                        <item name="data-video-play-only-visible" xsi:type="string"></item>
                        <item name="data-video-lazy-load" xsi:type="string"></item>
                        <item name="data-video-fallback-src" xsi:type="string"></item>
                    </item>
                </item>
                <item name="default" xsi:type="array">
                    <item name="main" xsi:type="array">
                        <item name="data-content-type" xsi:type="string"></item>
                        <item name="1data-appearance" xsi:type="string"></item>
                        <item name="data-enable-parallax" xsi:type="string"></item>
                        <item name="data-parallax-speed" xsi:type="string"></item>
                        <item name="data-video-type" xsi:type="string"></item>
                        <item name="data-background-type" xsi:type="string"></item>
                        <item name="data-background-images" xsi:type="string"></item>
                        <item name="data-video-src" xsi:type="string"></item>
                        <item name="data-video-loop" xsi:type="string"></item>
                        <item name="data-video-play-only-visible" xsi:type="string"></item>
                        <item name="data-video-lazy-load" xsi:type="string"></item>
                        <item name="data-video-fallback-src" xsi:type="string"></item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="AlbertMage\PageBuilder\Model\Parser\Video">
        <arguments>
            <argument name="attributes" xsi:type="array">
                <item name="default" xsi:type="array">
                    <item name="main" xsi:type="array">
                        <item name="data-content-type" xsi:type="string"></item>
                        <item name="1data-appearance" xsi:type="string"></item>
                    </item>
                    <item name="video" xsi:type="array">
                        <item name="frameborder" xsi:type="string"></item>
                        <item name="controls" xsi:type="string"></item>
                        <item name="src" xsi:type="string"></item>
                        <item name="poster" xsi:type="string"></item>
                        <item name="data-video-type" xsi:type="string"></item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>