<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AlbertMage\PageBuilder\Api\PageManagementInterface" type="AlbertMage\PageBuilder\Model\PageManagement"/>
    <preference for="AlbertMage\PageBuilder\Api\BlockManagementInterface" type="AlbertMage\PageBuilder\Model\BlockManagement"/>
    <preference for="AlbertMage\PageBuilder\Api\Data\ElementInterface" type="AlbertMage\PageBuilder\Model\Element"/>
    <preference for="AlbertMage\PageBuilder\Api\Data\LinkInterface" type="AlbertMage\PageBuilder\Model\Link"/>
    <preference for="AlbertMage\PageBuilder\Api\Data\ImageInterface" type="AlbertMage\PageBuilder\Model\Image"/>
    <preference for="AlbertMage\PageBuilder\Api\Data\VideoInterface" type="AlbertMage\PageBuilder\Model\Video"/>
    <preference for="AlbertMage\PageBuilder\Api\Data\WidgetInterface" type="AlbertMage\PageBuilder\Model\Widget"/>
    <preference for="AlbertMage\PageBuilder\Api\Data\DirectiveInterface" type="AlbertMage\PageBuilder\Model\Directive"/>
    <preference for="AlbertMage\PageBuilder\Api\Data\TabHeaderInterface" type="AlbertMage\PageBuilder\Model\TabHeader"/>
    <preference for="AlbertMage\PageBuilder\Api\Data\ContentInterface" type="AlbertMage\PageBuilder\Model\Content"/>
    <preference for="AlbertMage\PageBuilder\Model\Widget\LinkInterface" type="AlbertMage\PageBuilder\Model\Widget\Link"/>
    <preference for="AlbertMage\PageBuilder\Model\Widget\ProductListInterface" type="AlbertMage\PageBuilder\Model\Widget\ProductList"/>
    <preference for="AlbertMage\PageBuilder\Model\Widget\BlockInterface" type="AlbertMage\PageBuilder\Model\Widget\Block"/>
    <type name="AlbertMage\PageBuilder\Model\Dom\ElementPool">
        <arguments>
            <argument name="elementClassCollection" xsi:type="array">
                <item name="row" xsi:type="string">AlbertMage\PageBuilder\Model\Dom\ContentType\Row</item>
                <item name="column-group" xsi:type="string">AlbertMage\PageBuilder\Model\Dom\ContentType\ColumnGroup</item>
                <item name="column" xsi:type="string">AlbertMage\PageBuilder\Model\Dom\ContentType\Column</item>
                <item name="tabs" xsi:type="string">AlbertMage\PageBuilder\Model\Dom\ContentType\Tabs</item>
                <item name="tab-item" xsi:type="string">AlbertMage\PageBuilder\Model\Dom\ContentType\TabItem</item>
                <item name="text" xsi:type="string">AlbertMage\PageBuilder\Model\Dom\ContentType\Text</item>
                <item name="heading" xsi:type="string">AlbertMage\PageBuilder\Model\Dom\ContentType\Heading</item>
                <item name="divider" xsi:type="string">AlbertMage\PageBuilder\Model\Dom\ContentType\Divider</item>
                <item name="buttons" xsi:type="string">AlbertMage\PageBuilder\Model\Dom\ContentType\Buttons</item>
                <item name="button-item" xsi:type="string">AlbertMage\PageBuilder\Model\Dom\ContentType\ButtonItem</item>
                <item name="image" xsi:type="string">AlbertMage\PageBuilder\Model\Dom\ContentType\Image</item>
                <item name="video" xsi:type="string">AlbertMage\PageBuilder\Model\Dom\ContentType\Video</item>
                <item name="slider" xsi:type="string">AlbertMage\PageBuilder\Model\Dom\ContentType\Slider</item>
                <item name="slide" xsi:type="string">AlbertMage\PageBuilder\Model\Dom\ContentType\Slide</item>
                <item name="banner" xsi:type="string">AlbertMage\PageBuilder\Model\Dom\ContentType\Banner</item>
                <item name="block" xsi:type="string">AlbertMage\PageBuilder\Model\Dom\ContentType\Block</item>
                <item name="products" xsi:type="string">AlbertMage\PageBuilder\Model\Dom\ContentType\Products</item>
            </argument>
        </arguments>
    </type>
</config>